<div class="container">
    <h3>Gerenciar Bolões</h3>
    <header>
        <div class="card-palpite-nav col-md-12">
            <ul class="nav nav-underline" id="myTab" role="tablist">
                <li class="col-3" role="presentation">
                    <button class="nav-link w-100 active" id="criar-tab" data-bs-toggle="tab"
                        data-bs-target="#criar-tab-pane" type="button" role="tab" aria-controls="criar-tab-pane"
                        aria-selected="true">CRIAR BOLÃO</button>
                </li>
                <li class="col-3" role="presentation">
                    <button class="nav-link w-100" id="publicar-tab" data-bs-toggle="tab"
                        data-bs-target="#publicar-tab-pane" type="button" role="tab"
                        aria-controls="publicar-tab-pane" aria-selected="false">PUBLICAR RESULTADO</button>
                </li>
                <li class="col-3" role="presentation">
                    <button class="nav-link w-100 " id="continuar-tab" data-bs-toggle="tab"
                        data-bs-target="#continuar-tab-pane" type="button" role="tab"
                        aria-controls="continuar-tab-pane" aria-selected="false">CONTINUAR BOLÃO</button>
                </li>
                <li class="col-3" role="presentation">
                    <button class="nav-link w-100 " id="excluir-tab" data-bs-toggle="tab"
                        data-bs-target="#excluir-tab-pane" type="button" role="tab"
                        aria-controls="excluir-tab-pane" aria-selected="false">EXCLUIR BOLÃO</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="mt-2 tab-pane fade show active" id="criar-tab-pane" role="tabpanel"
                    aria-labelledby="criar-tab" tabindex="0">
                   <app-criar-boloes></app-criar-boloes> 
                </div>
                <div class="tab-pane fade" id="publicar-tab-pane" role="tabpanel" aria-labelledby="publicar-tab"
                    tabindex="0"><app-publicar-bolao></app-publicar-bolao></div>
                <div class="tab-pane fade" id="continuar-tab-pane" role="tabpanel" aria-labelledby="continuar-tab"
                    tabindex="0">helooo</div>
                    <div class="tab-pane fade" id="excluir-tab-pane" role="tabpanel" aria-labelledby="excluir-tab"
                    tabindex="0"><app-excluir-boloes></app-excluir-boloes></div>
            </div>

        </div>
    </header>
</div>