<div class="mt-2">
    <h6>Relatório de Acumulado</h6>
    <div class="row align-items-center mb-3">

        <div class="col-10">
            <div class="d-flex justify-content-between card-span">
                <span class="verde">Recuperado</span>
                <span [ngStyle]="{'color': BolaoItem.acumulado > BolaoItem.acumuladoBase ? 'green' : 'black'}">Acumulado Inicial</span>
              </div>
            <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar progress-bar-striped progress-bar-animated" #progressBar  [style.width.%]="porcentagemRecuperacao.toFixed(2)" ></div>
              </div>
              <div class="d-flex justify-content-between card-span">
                <span class="verde">{{BolaoItem.recuperado | currency:'BRL'}}</span>
                <span [ngStyle]="{'color': BolaoItem.acumulado > BolaoItem.acumuladoBase ? 'green' : 'black'}">{{BolaoItem.acumuladoBase | currency:'BRL'}}</span>
              </div>
        </div>
        <div class="col-2">
                <button class="btn-s" > <span class="material-symbols-outlined">info</span></button>
              
        </div>
    </div>
    <h6>Recuperado <strong>{{porcentagemRecuperacao.toFixed(0)}}%</strong> do valor inicial</h6>
    <div class="p-1 mt-3">
        <p><strong>O acumulado começará a aumentar somente depois que seu valor for recuperado. 
            Em info mostra com transparência os detalhes do acumulado e 
            do valor recuperado em cada rodada de um campeonato.</strong></p>
    </div>
    
    
</div>