<div class="container">
    <div class="container-btn">
        <button routerLink="gerenciartimes">CRIAR TIME</button>
        <button routerLink="gerenciarboloes">GERENCIAR BOLOES</button>
    </div>
    <div class="container-banner">
        <div class="banner">
            <h4>FAÇA SEU</h4>
            <h1>BOLÃO</h1>
        </div>
    </div>
    <div class="header rows mt-3 ">
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 p-1" *ngFor="let bolao of boloes">
        <div class="card ">
            <div class="card-data">
                <div class="card-banner">
                    <img src="{{bolao.logo}}"
                        alt="">
                </div>
                <div class="card-info">
                    <span>Rodada {{bolao.round}}</span>
                <span>{{bolao.dataInicio | date:'dd/MM'}} até {{bolao.dataFim | date:'dd/MM'}}</span> 
                </div>                                
                </div>
                <div class="card-informe">
                    <span class="title">{{bolao.name}}</span>
                    <br/>
                    <span class="title-seg">{{bolao.idTipo}}</span>
                    <div class="linha"></div>
                    <div class="card-price d-flex">
                        <div class="d-flex" style="flex-direction: column;"><span class="title-p">Valor</span><span class="title-s">{{bolao.valor | currency:'BRL'}}</span></div>
                        <div class="d-flex" style="flex-direction: column;"><span class="title-p">Prêmio Atual</span><span class="title-s"> {{bolao.premio | currency:'BRL'}}</span></div>
                        <div class="d-flex" style="flex-direction: column;"><span class="title-p">Acumulado</span><span class="title-s">{{bolao.acumulado | currency:'BRL'}}</span></div>
                    
                    </div>
                    <div class="card-btn">
                        <button class="btn-p" [routerLink]="['/bolao', bolao.id]">PARTICIPAR</button>
                        <button class="btn-s" (click)="openModel(bolao.id)">
                            <span class="material-symbols-outlined">info</span>
                        </button>
                    </div>
                </div>                
        </div>
    </div>
</div>


</div>

  <!-- Modal -->
  <div class="modal fade" id="homeodal" style="
  font-size: small;
" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="homeodalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="homeodalLabel">Relatório do Acumulado</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <app-relatorio-acumulado [BolaoItem]="bolao" [modalItem]="modalRelatorio"></app-relatorio-acumulado>

            <table class="table " *ngFor="let round of tabelaRodada">
                <caption>Lista de Rodadas</caption>
                <thead>
                  <tr class="table-light">
                    <th scope="col" style="text-align: center;">Data</th>
                    <th scope="col"  style="text-align: center;">Rodada</th>
                    <th scope="col"  style="text-align: center;">Recuperado</th>
                  </tr>
                </thead>
                <tbody class="table-group-divider">
                  <tr>
                    <th scope="row"  style="text-align: center;">{{round.data | date:'dd/MM'}} </th>
                    <td  style="text-align: center; font-weight: 600;">{{round.round}}º</td>
                    <td style="text-align: center;"> {{round.recuperado | currency:'BRL'}}</td>
                  </tr>                 
                </tbody>
              </table>            
        </div>
      </div>
    </div>
  </div>