.container-fluid {
    height: 100%;
    background-color: var(--cinza-color);

    .container-btn {
        button {
            margin: 5px 2px;
            padding: 0px 15px;
            font-weight: 500;
            height: 31px;
            border-radius: 9px;
            background: #00439c;
            color: white;
        }
    }

    .container-banner {
        padding-top: 10px;
    }

    .banner {
        width: 100%;
        height: 200px;
        border-radius: 9px;
        padding: 20px;
        color: white;
        background: linear-gradient(91deg, #132D51 0%, #0B2240 100%);
    }

}

.row {
    --bs-gutter-x: -0.5rem !important;
}

.header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: left;
}

.card-span {
    Span {
        font-size: small;
        font-weight: 500;
    }


}

.card {
    z-index: 10;
    min-width: 100%;
    min-height: 86px;
    background-color: white;
    cursor: pointer;


    border-radius: 9px;

    .card-data {
        width: 100%;
        height: 23px;
        background-color: #F7F7F7;
        border-radius: 9px;
    }

    .card-banner {
        display: flex;
        max-width: 58px;
        height: 50px;
        margin: 9px 2px;
        position: relative;
        border-radius: 9px;
        overflow: hidden;
        align-items: center;
    }

    .card-banner img {
        width: 100%;
        transform: scale(4.1);
        position: absolute;
        background-position: center; //centraliza imagem
        background-size: cover; //imagem cobre toda área do div
    }

    .card-info {
        display: flex;
        justify-content: space-between;
        padding: 0px 10px;
        font-size: 14px;
        color: var(--text-segundaria-color);
    }

    .card-informe {
        height: 100%;
        display: flex;
        padding: 6px 4px;
        flex-direction: column;
        justify-content: center;

        .title {
            font-size: 20px;
            font-weight: 700;
            margin: 0px;

        }

        .title-seg {
            font-size: 15px;
            font-weight: 400;
            color: #5D6C81;
            margin: 0;
        }





    }

    .sub-title {
        font-size: 15px;
        font-weight: 700;
        margin: 0px;

    }

    .sub-title-seg {
        font-size: 20px;
        font-weight: 400;
        color: #044793;
        margin: 0px;
    }

    .icon {
        align-self: center;
        text-align: center;
        font-size: 30px;
        transition: 0.5s;

        span {
            transition: transform 0.5s;
            /* Adicionando transição para a propriedade transform */
            -webkit-transition: -webkit-transform 0.5s;
            /* Prefixo para navegadores WebKit (como o Safari) */
        }

        .material-symbols-outlined {
            font-size: 30px;
            color: #044793;

            font-variation-settings:
                'FILL' 0,
                'wght' 700,
                'GRAD' 0,
                'opsz' 30
        }
    }


}

.barra {
    width: 98%;
    // height: 0px;
    padding: 2px;
    top: -6px;
    position: relative;
    background-color: #ffffff;
    color: black;
    border-radius: 0px 0px 9px 9px;
    overflow: auto;
}

.barra::-webkit-scrollbar {
    width: 7px;
    /* width of the entire scrollbar */
    border-radius: 20px;
}

.barra::-webkit-scrollbar-track {
    background: rgb(241, 241, 241);
    /* color of the tracking area */
    border-radius: 20px;
}

.barra::-webkit-scrollbar-thumb {
    background-color: rgb(180, 180, 180);
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid rgb(180, 180, 180);
    /* creates padding around scroll thumb */
}

.conteudo {
    padding: 15px 10px 15px 10px;
    text-align: center;
    color: rgb(0, 0, 0);
    .home {
        font-weight: 500;
    }

    .away {
        font-weight: 500;
       
    }
    .text-cinza{
        color: #E2DFDF;
    }
}

.info-time-date {
    line-height: 1.4;
    color: #C2C2C2;
    font-size: 14px;
    align-self: center;
}

.info-time {
    line-height: 1.4;
    border-left: 2px solid #E2DFDF;
    padding-left: 15px;    
    

    img {
        width: 18px;
    }

}

.table-active {
    --bs-table-color-state: #ffffff !important;
    --bs-table-bg-state: rgb(0 67 156) !important;
    border-radius: 31px;
}

.table-hover > tbody > tr{
    cursor: pointer;

}

.table-hover > tbody > tr:hover > * {
    --bs-table-color-state: #ffffff !important;
    --bs-table-bg-state: rgb(45, 93, 156) !important;
}
.info-time-palpite {
    align-self: center;
    text-align: -webkit-center;
    border-left: 2px solid #E2DFDF;

    .palpite-ganho {
        font-weight: 500;
        padding: 6px;
        color: white;
        border-radius: 9px;
        width: 36px;
        height: 100%;
        background-color: #009C51;
    }
    .palpite-perdido {
        font-weight: 500;
        padding: 6px;
        color: white;
        border-radius: 9px;
        width: 36px;
        height: 100%;
        background-color: #9C0000;
    }



}

.info-time-resultado {
    line-height: 1.4;
   
    font-weight: 500;

}

.title-palpite {
    font-size: 12px;
    font-weight: 600;
}

.contarine-resultado {
    width: 100%;
    height: auto;
    background: rgb(255, 255, 255);
    border-radius: 9px;

    .resultado-premios {
        padding: 5px;

        .premio {
            padding: 5px;
            background: #F6F5F5;
            height: 59px;
            border-radius: 5px;
        }

        .acumulado {
            padding: 5px;
            background: #F6F5F5;
            height: 59px;
            border-radius: 5px;
        }
    }

    .resultado-valorpago {
        padding: 5px;

        .valor {
            align-items: center;
            display: flex;
            justify-content: space-between;
            padding: 5px 10px;
            background: #F6F5F5;
            height: 50px;
            border-radius: 5px;
        }
    }

    .resultado-cupons {
        padding: 5px;

        .premiado {
            padding: 5px;
            background: #F6F5F5;
            height: 59px;
            border-radius: 5px;
        }

        .vlcupom {
            padding: 5px;
            background: #F6F5F5;
            height: 59px;
            border-radius: 5px;
        }
    }

    .resultado-ganahdores {
        padding: 5px;

        .ganhadores {
            align-items: center;
            display: flex;
            justify-content: space-between;
            padding: 5px 10px;
            background: #F6F5F5;
            height: 35px;
            border-radius: 5px;
        }

        .acertos {
            align-items: center;
            display: flex;
            justify-content: space-between;
            padding: 5px 10px;
            background: #F6F5F5;
            height: 35px;
            border-radius: 5px;
        }
    }

   
}


// Large devices (desktops, 992px and up)  LG
@media (max-width: 1201px) {
    .card {

        .card-banner {
            width: 60px;
            height: 60px;
        }

        .card-informe {


            .title {
                line-height: 1.1;
                font-size: 18px;
                font-weight: 600;
                margin: 0px;

            }

            .title-seg {
                font-size: 13px;
                margin: 0px;
            }
        }

        .sub-title {
            font-size: 13px;
            font-weight: 600;
            margin: 0px;

        }

        .sub-title-seg {
            font-size: 18px;
            font-weight: 400;
            color: #044793;
            margin: 0px;
        }

    }
}

// Medium devices (tablets, 768px and up) MD
@media (max-width: 991.98px) {
    .card {
        .card-banner {
            width: 50px;
            height: 50px;
        }

        .card-informe {
            padding: 6px 4px;

            .title {
                line-height: 1.1;
                font-size: 14px;
                font-weight: 600;
                margin: 0px;

            }

            .title-seg {
                font-size: 12px;
                margin: 0px;
            }
        }

        .sub-title {
            font-size: 13px;
            font-weight: 600;
            margin: 0px;

        }

        .sub-title-seg {
            font-size: 12px;
            font-weight: 400;
            color: #044793;
            margin: 0px;
        }

    }
}

// Small devices (landscape phones, 576px and up) SM
@media (max-width: 767.98px) {

    .card {

        .card-banner {
            width: 50px;
            height: 50px;
        }


        .card-informe {
            padding: 6px 4px;

            .title {
                line-height: 1.1;
                font-size: 13px;
                font-weight: 600;
                margin: 0px;

            }

            .title-seg {
                font-size: 12px;
                margin: 0px;
            }
        }

        .sub-title {
            font-size: 13px;
            font-weight: 600;
            margin: 0px;

        }

        .sub-title-seg {
            font-size: 12px;
            font-weight: 400;
            color: #044793;
            margin: 0px;
        }

    }
}

@media (max-width: 575.98px) {

    .sub-title {
        font-size: 13px;
        font-weight: 600;
        margin: 0px;

    }

    .sub-title-seg {
        font-size: 12px;
        font-weight: 400;
        color: #044793;
        margin: 0px;
    }
}