.container-fluid {
    height: 100%;
    background-color: var(--cinza-color);

    .container-btn {
        button {
            margin: 5px 2px;
            padding: 0px 15px;
            font-weight: 500;
            height: 31px;
            border-radius: 9px;
            background: #00439c;
            color: white;
        }
    }

    .container-banner {
        padding-top: 10px;
    }

    .banner {
        width: 100%;
        height: 200px;
        border-radius: 9px;
        padding: 20px;
        color: white;
        background: linear-gradient(91deg, #132D51 0%, #0B2240 100%);
    }

}

.row {
    --bs-gutter-x: -0.5rem !important;
}

.header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: left;
}

.card-span {
    Span {
        font-size: small;
        font-weight: 500;
    }


}

.card {
    z-index: 10;
    min-width: 100%;
    min-height: 86px;
    background-color: white;
    cursor: pointer;


    border-radius: 9px;

    .card-data {
        width: 100%;
        height: 23px;
        background-color: #F7F7F7;
        border-radius: 9px;
    }

    .card-banner {
        display: flex;
        max-width: 58px;
        height: 50px;
        margin: 9px 2px;
        position: relative;
        border-radius: 9px;
        overflow: hidden;
        align-items: center;
    }

    .card-banner img {
        width: 100%;
        transform: scale(4.1);
        position: absolute;
        background-position: center; //centraliza imagem
        background-size: cover; //imagem cobre toda área do div
    }

    .card-info {
        display: flex;
        justify-content: space-between;
        padding: 0px 10px;
        font-size: 14px;
        color: var(--text-segundaria-color);
    }

    .card-informe {
        height: 100%;
        display: flex;
        padding: 6px 4px;
        flex-direction: column;
        justify-content: center;

        .title {
            font-size: 20px;
            font-weight: 700;
            margin: 0px;

        }

        .title-seg {
            font-size: 15px;
            font-weight: 400;
            color: #5D6C81;
            margin: 0;
        }





    }

    .sub-title {
        font-size: 15px;
        font-weight: 700;
        margin: 0px;

    }

    .sub-title-seg {
        font-size: 20px;
        font-weight: 400;
        color: #044793;
        margin: 0px;
    }

    .icon {
        align-self: center;
        text-align: center;
        font-size: 30px;
        transition: 0.5s;

        span {
            transition: transform 0.5s;
            /* Adicionando transição para a propriedade transform */
            -webkit-transition: -webkit-transform 0.5s;
            /* Prefixo para navegadores WebKit (como o Safari) */
        }

        .material-symbols-outlined {
            font-size: 30px;
            color: #044793;

            font-variation-settings:
                'FILL' 0,
                'wght' 700,
                'GRAD' 0,
                'opsz' 30
        }
    }

    
   

}



    .card-palpite-p {
        height: 86px;
        background-color: white;
        border-radius: 9px;

        .card-palpite-data {
            height: 24px;
            text-align: center;
            color: white;
            border-radius: 9px;
            background: #00439C;
        }

        .card-teams {
            display: flex;
            align-items: flex-start;
            border-radius: 9px;
            padding: 0px 29px;
            flex-direction: column;
            justify-content: center;

            .card-team {
                display: flex;
                gap: 7px;
                align-items: center;
            }
        }

        .card-bet {
            display: flex;
            border-radius: 9px;
            flex-direction: row;
            justify-content: center;

            button {
                width: 64.91px;
                padding: 7px;
                margin: 7px 10px;
                border-radius: 9px;
                font-weight: 600;
                font-size: 20px;
                background: #E3DFDF;
                color: #5D6C81;
            }
        }
    }


.card-info {
    min-height: 100%;
    overflow-y: unset;

    .card-informe {
        padding: 6px 10px;

        .title {
            font-size: 20px;
            font-weight: 700;
            margin: 0px;

        }

        .title-seg {
            font-size: 15px;
            font-weight: 400;
            color: var(--text-segundaria-color);
        }

        .linha {
            margin-top: 10px;
            width: 100%;
            border-bottom: 1.5px solid #D9D9D9;
        }

        .card-price {
            margin-top: 10px;
            justify-content: space-between;

            .title-p {
                font-weight: 500;
            }

            .title-s {
                font-size: 15px;
                color: var(--text-segundaria-color);
            }
        }
    }

    .card-palpite-p {
        width: 100%;
        height: auto;
        background: rgb(255, 255, 255);
        border-radius: 9px;
    
        .card-palpite-data {
            height: 24px;
            color: white;
            border-radius: 9px;
            background: #00439C;
            display: flex;
            justify-content: space-between;
            padding: 0px 10px;
        }
        .resultado-premios {
            padding: 5px;
    
            .premio {
                padding: 5px;
                background: #F6F5F5;
                height: 59px;
                border-radius: 5px;
            }
    
            .acumulado {
                padding: 5px;
                background: #F6F5F5;
                height: 59px;
                border-radius: 5px;
            }
        }
    
        .resultado-valorpago {
            padding: 5px;
    
            .valor {
                align-items: center;
                display: flex;
                justify-content: space-between;
                padding: 5px 10px;
                background: #F6F5F5;
                height: 50px;
                border-radius: 5px;
            }
        }
    
        .resultado-cupons {
            padding: 5px;
    
            .premiado {
                padding: 5px;
                background: #F6F5F5;
                height: 59px;
                border-radius: 5px;
            }
    
            .vlcupom {
                padding: 5px;
                background: #F6F5F5;
                height: 59px;
                border-radius: 5px;
            }
        }
    
        .resultado-ganahdores {
            padding: 5px;
    
            .ganhadores {
                align-items: center;
                display: flex;
                justify-content: space-between;
                padding: 5px 10px;
                background: #F6F5F5;
                height: 35px;
                border-radius: 5px;
            }
    
            .acertos {
                align-items: center;
                display: flex;
                justify-content: space-between;
                padding: 5px 10px;
                background: #F6F5F5;
                height: 35px;
                border-radius: 5px;
            }
        }

    }

    .card-palpite-nav {
        padding: 10px;
        font-size: 11px;

        .nav-underline {
            --bs-nav-underline-gap: 0px;
            --bs-nav-underline-border-width: 4px;
            --bs-nav-underline-link-active-color: #00439C !important;
        }

        .nav-underline .nav-link.active,
        .nav-underline .show>.nav-link {
            font-weight: 700;
            color: var(--bs-nav-underline-link-active-color);
            border-bottom-color: currentColor;
            border-bottom: 4px solid;
        }

        .nav {
            --bs-nav-link-padding-x: 1rem;
            --bs-nav-link-padding-y: 0.5rem;
            --bs-nav-link-font-weight: 600;
            --bs-nav-link-color: #B9B9B9;
            ;
            --bs-nav-link-hover-color: #d8d7d7;
            ;

        }

        #myTab {
            display: flex;
            justify-content: space-around;
        }

        .seltime {
            height: 17px;
            padding: 0px 10px;
            color: white;
            font-weight: 600;
            margin: auto;
            background: #00439C;

        }

        .timeno {
            color: #b9b9b9;
        }

        .resulttime {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: #F5F5F5;
            border-bottom: 2px solid #B7B7B7;
            margin-bottom: 2px;
            padding: 0px 13px;

            Button {
                display: flex;
                align-items: center;
                background-color: transparent;
                color: red;

                Span {
                    font-size: large;
                }

                .material-symbols-outlined {
                    font-variation-settings:
                        'FILL' 0,
                        'wght' 400,
                        'GRAD' 0,
                        'opsz' 0
                }
            }
        }

        .bet-input{
            Label{
                font-size: larger;
                font-weight: 500;
                margin-bottom: 5px;
            }
            .input-cupom-text {
                border-radius: 9px;
                background: #F5F5F5;
                padding: 0px 14px;
                font-size: medium;
                font-weight: 500;
                width: 100%;
                height: 36px;

                
            }

            .input-grup{
                display: flex;
                flex-direction: column;
            }
        

        .input-number {
            display: flex;
            position: relative;
            align-items: center;
            width: 100%;
            h6, .h6 {
                position: absolute;
                left: 7px;
                color:#dddd;
                margin-bottom: 0px;
            }

            .input-cupom {
                border-radius: 9px;
                background: #F5F5F5;
                padding: 0px 14px;
                font-size: medium;
                font-weight: 500;
                width: 100%;
                height: 36px;
            }

            .input-seta {
                display: flex;
                flex-direction: column;
                right: 7px;
                position: absolute;
                Button{
                    height: 15px;
                    background: transparent;
                }
                Span {
                    font-size: large;
                }
            }
        }
    }

    .btn-bet{
            display: flex;
            gap: 5px;
            margin-top: 5px;

            .btn-p {
                font-size: 14px;
                font-weight: 500;
                color: white;
                border-radius: 9px;
                width: 70%;
                height: 36px;
                background-color: #044793;
            }

            .btn-s {
                font-size: 14px;
                font-weight: 500;
                border-radius: 9px;
                width: 30%;
                height: 36px;
                background-color: #9C0000;
                color: white;

            }
        
    }


    }


}

.barra {
    width: 98%;
    // height: 0px;
    padding: 2px;
    top: -6px;
    position: relative;
    background-color: #ffffff;
    color: black;
    border-radius: 0px 0px 9px 9px;
    overflow: auto;
}

.barra::-webkit-scrollbar {
    width: 7px;
    /* width of the entire scrollbar */
    border-radius: 20px;
}

.barra::-webkit-scrollbar-track {
    background: rgb(241, 241, 241);
    /* color of the tracking area */
    border-radius: 20px;
}

.barra::-webkit-scrollbar-thumb {
    background-color: rgb(180, 180, 180);
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid rgb(180, 180, 180);
    /* creates padding around scroll thumb */
}

.conteudo {
    padding: 15px 10px 15px 10px;
    text-align: center;
    color: rgb(0, 0, 0);
    .home {
        font-weight: 500;
    }

    .away {
        font-weight: 500;
       
    }
    .text-cinza{
        color: #E2DFDF;
    }
}

.info-time-date {
    line-height: 1.4;
    color: #C2C2C2;
    font-size: 14px;
    align-self: center;
}

.info-time {
    line-height: 1.4;
    border-left: 2px solid #E2DFDF;
    padding-left: 15px;    
    

    img {
        width: 18px;
    }

}

.table-active {
    --bs-table-color-state: #ffffff !important;
    --bs-table-bg-state: rgb(0 67 156) !important;
    border-radius: 31px;
}

.table-hover > tbody > tr{
    cursor: pointer;

}

.table-hover > tbody > tr:hover > * {
    --bs-table-color-state: #ffffff !important;
    --bs-table-bg-state: rgb(45, 93, 156) !important;
}
.info-time-palpite {
    align-self: center;
    text-align: -webkit-center;
    border-left: 2px solid #E2DFDF;

    .palpite-ganho {
        font-weight: 500;
        padding: 6px;
        color: white;
        border-radius: 9px;
        width: 36px;
        height: 100%;
        background-color: #009C51;
    }
    .palpite-perdido {
        font-weight: 500;
        padding: 6px;
        color: white;
        border-radius: 9px;
        width: 36px;
        height: 100%;
        background-color: #9C0000;
    }



}

.info-time-resultado {
    line-height: 1.4;
   
    font-weight: 500;

}

.title-palpite {
    font-size: 12px;
    font-weight: 600;
}

.contarine-resultado {
    width: 100%;
    height: auto;
    background: rgb(255, 255, 255);
    border-radius: 9px;

    .resultado-premios {
        padding: 5px;

        .premio {
            padding: 5px;
            background: #F6F5F5;
            height: 59px;
            border-radius: 5px;
        }

        .acumulado {
            padding: 5px;
            background: #F6F5F5;
            height: 59px;
            border-radius: 5px;
        }
    }

    .resultado-valorpago {
        padding: 5px;

        .valor {
            align-items: center;
            display: flex;
            justify-content: space-between;
            padding: 5px 10px;
            background: #F6F5F5;
            height: 50px;
            border-radius: 5px;
        }
    }

    .resultado-cupons {
        padding: 5px;

        .premiado {
            padding: 5px;
            background: #F6F5F5;
            height: 59px;
            border-radius: 5px;
        }

        .vlcupom {
            padding: 5px;
            background: #F6F5F5;
            height: 59px;
            border-radius: 5px;
        }
    }

    .resultado-ganahdores {
        padding: 5px;

        .ganhadores {
            align-items: center;
            display: flex;
            justify-content: space-between;
            padding: 5px 10px;
            background: #F6F5F5;
            height: 35px;
            border-radius: 5px;
        }

        .acertos {
            align-items: center;
            display: flex;
            justify-content: space-between;
            padding: 5px 10px;
            background: #F6F5F5;
            height: 35px;
            border-radius: 5px;
        }
    }

   
}


.card-bet {
    display: flex;
    border-radius: 9px;
    flex-direction: row;
    justify-content: center;

    button {
        width: 64.91px;
        padding: 7px;
        margin: 7px 3px;
        border-radius: 9px;
        font-weight: 600;
        font-size: 20px;
        background: #E3DFDF;
        color: #5D6C81;
    }
}

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    outline: none;
}
input[type="text"] {
    text-align: right;
}


// Large devices (desktops, 992px and up)  LG
@media (max-width: 1201px) {
    .card {

        .card-banner {
            width: 60px;
            height: 60px;
        }

        .card-informe {


            .title {
                line-height: 1.1;
                font-size: 18px;
                font-weight: 600;
                margin: 0px;

            }

            .title-seg {
                font-size: 13px;
                margin: 0px;
            }
        }

        .sub-title {
            font-size: 13px;
            font-weight: 600;
            margin: 0px;

        }

        .sub-title-seg {
            font-size: 18px;
            font-weight: 400;
            color: #044793;
            margin: 0px;
        }

    }
}

// Medium devices (tablets, 768px and up) MD
@media (max-width: 991.98px) {
    .card {
        .card-banner {
            width: 50px;
            height: 50px;
        }

        .card-informe {
            padding: 6px 4px;

            .title {
                line-height: 1.1;
                font-size: 14px;
                font-weight: 600;
                margin: 0px;

            }

            .title-seg {
                font-size: 12px;
                margin: 0px;
            }
        }

        .sub-title {
            font-size: 13px;
            font-weight: 600;
            margin: 0px;

        }

        .sub-title-seg {
            font-size: 12px;
            font-weight: 400;
            color: #044793;
            margin: 0px;
        }

    }
}

// Small devices (landscape phones, 576px and up) SM
@media (max-width: 767.98px) {

    .card {

        .card-banner {
            width: 50px;
            height: 50px;
        }


        .card-informe {
            padding: 6px 4px;

            .title {
                line-height: 1.1;
                font-size: 13px;
                font-weight: 600;
                margin: 0px;

            }

            .title-seg {
                font-size: 12px;
                margin: 0px;
            }
        }

        .sub-title {
            font-size: 13px;
            font-weight: 600;
            margin: 0px;

        }

        .sub-title-seg {
            font-size: 12px;
            font-weight: 400;
            color: #044793;
            margin: 0px;
        }

    }
}

@media (max-width: 575.98px) {

    .sub-title {
        font-size: 13px;
        font-weight: 600;
        margin: 0px;

    }

    .sub-title-seg {
        font-size: 12px;
        font-weight: 400;
        color: #044793;
        margin: 0px;
    }
}